<div class="admin-list-products">
    <h1>Produits</h1>
    <h3>Liste de tous nos articles classés par catégorie </h3>

        <div class="buttons">
            <button class="add-product" type="button" routerLink= '/produits/créer-produit'> 
                <i class="pi pi-plus"></i>
                Créer Produit
            </button>
        </div>

        <div class="categories-bloc">

            <div class="categories-bloc-hidder">
                <button [class]="category.class" type="button" *ngFor="let category of categoriesList; let index = index" (click)="categoryChoosed(index, category.id)"> 
                    {{category.name}}
                </button>
            </div>
            
        </div>

        <p-table [value]="productsList" responsiveLayout="scroll" [paginator]="true" [showCurrentPageReport]="true" [rows]="10" currentPageReportTemplate="{last}/{totalRecords} produits" [rowsPerPageOptions]="[10,25,50]">
            
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="category.name">Catégorie <p-sortIcon field="category.name"></p-sortIcon></th>
                    <th pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon></th>
                    <th>Image</th>
                    <th pSortableColumn="price">Prix <p-sortIcon field="price"></p-sortIcon></th>
                    <th pSortableColumn="stock">Stock <p-sortIcon field="stock"></p-sortIcon></th>
                    <th pSortableColumn="created">Créé le <p-sortIcon field="created"></p-sortIcon></th>
                    <th> top Produit</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{product.category.name }}</td>
                    <td>{{product.name }}</td>
                    <td><img [src]="product.imageVitrine" [alt]="product.name" class="product-image" /></td>
                    <td>{{product.price }}</td>
                    <td *ngIf="product.category.withManySize === false; else elseBlock">{{product.countInStock }}</td>
                    <ng-template #elseBlock>
                        <td>{{product.sizeXS + product.sizeS + product.sizeM + product.sizeL + product.sizeXL + product.sizeXXL}}</td>
                    </ng-template>
                    <td>{{product.dateCreated | date }}</td>
                    <td *ngIf="product.topProduct === true; else topProduct">
                        <p-badge severity="success" styleClass="p-mr-2"></p-badge>
                    </td>
                    <ng-template #topProduct>
                       <td> <p-badge severity="danger" ></p-badge></td>
                    </ng-template>
                    <td class="delete-edit">
                        <i (click)="editProduct(product._id)" class="pi pi-pencil"></i>
                        <i (click)="deleteProduct(product._id, product.category._id)" class="pi pi-trash"></i>
                    </td>
                 </tr>
            </ng-template>

        </p-table>
        <p-confirmDialog header="Confirmation de suppression" acceptLabel="Oui" rejectLabel="Non" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
        </p-confirmDialog>
        <p-toast position="top-right"></p-toast> 

</div>