<footer>
    
        <div class="top">
            <div class="content my-container">
                <div class="boutique">
                        <h4 class="header">MOUANA MABE PARIS</h4>
                        <span>À propos</span>
                        <span>Contact</span>
                        <span>FAQ</span>
                        <span>Livraisons et retours</span>
                        <span>Politique de confidentialité</span>
                        <span>CGU</span>

                        <div class="reseaux">
                            <img src="../../../../assets/img/facebook.png" alt="Mouana mabe résaux">
                            <img src="../../../../assets/img/instagram.png" alt="Mouana mabe résaux">
                            <img src="../../../../assets/img/youtube.png" alt="Mouana mabe résaux">

                        </div>
                </div>

                <div class="categories">
                    <h4 class="header"> NOS CATÉGORIES</h4>

                    <span>T-shirts</span>
                    <span>Sweats - Pulls</span>
                    <span>Blousons - Vestes</span>
                    <span>Jeans - Pantalons</span>
                    <span>Joggings</span>
                    <span>Casquettes</span>
                    <span>Débardeurs</span>
                    <span>Robes-Jupe</span>
                    <span>Masque covid</span>
                </div>

                <div class="paiements">
                    <h4 class="header">PAIEMENTS</h4>

                    <p>Paiement sécurisé par stripe</p>

                    <div class="paiement">
                        <img src="../../../../assets/img/visa.png" alt="Mouana mabe secure ">
                        <img src="../../../../assets/img/mastercard.png" alt="Mouana mabe secure ">
                        <img src="../../../../assets/img/amex.png" alt="Mouana mabe secure ">

                    </div>
                </div>


            </div>
        </div>

        <div class="bottom">
            <div class="content my-container">
                <span class="copyright">
                    © 2022 - Mouana Mabe Paris. Tous droits réservés
                </span>
                <span class="webmaster">
                    site web créé par 
                    <a href="https://sam-man-portfoio.herokuapp.com" aria-label="Portfolio" rel="noopener" target="_blank">Samuel M</a>                </span>
            </div>
        </div>
</footer>