.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

   ui-banner,
   products-categories-banner,
   products-for-who,
   ui-inspirations,
   products-top-products,
   ui-newsleter,
   ui-facities-advises{
       width: 100%;
   }

  
}