<div class="admin-dashboard">
    <h1>Tableau de bord</h1>
    <h3>Dernières activités</h3>

        <div class="cards">
            <div class="card">
                <span class="title">Commandes</span>
                <div class="icon-value">
                    <i class="pi pi-shopping-cart"></i>
                    <span> {{orderTotal}} </span>
                </div>
            </div>

            <div class="card">
                <span class="title">Articles</span>
                <div class="icon-value">
                    <i class="pi pi-briefcase"></i>
                    <span> {{productTotal}} </span>
                </div>
            </div>


            <div class="card">
                <span class="title">Utilisateurs</span>
                <div class="icon-value">
                    <i class="pi pi-users"></i>
                    <span> {{userTotal}} </span>
                </div>
            </div>


            <div class="card">
                <span class="title">Ventes Totales</span>
                <div class="icon-value">
                    <i class="pi pi-euro"></i>
                    <span> {{salesTotal}} </span>
                </div>
            </div>

            
        </div>

</div>