.admin-list-categories{
    padding: 30px 5%;
    display: flex;
    flex-direction: column;

    .buttons{
        padding: 5px 10px;
        background-color: rgb(241, 241, 241);
        margin: 60px 0 30px 0;

        
        .add-category{
            display: flex;
            align-items: center;
            outline: none;
            border: solid green;
            padding: 6px 10px;
            border-radius: 100px;
            color: green;
            width: fit-content;
            cursor: pointer;
            background-color: white;

            i{
                margin-right: 5px;
            }
        }
        .add-category:hover{
            background-color: green;
            color: white;
        }
    }

    .delete-edit{
        

            i{
                padding: 6px;
                font-weight: bold;
                margin: 0 5px;
                border-radius: 50%;
                cursor: pointer;
            }

            .pi-trash{
                color: red;
                border: 1px solid red;
            }

            .pi-trash:hover{
                color: white;
                background-color: red;
            }

            .pi-pencil{
                color: green;
                border: 1px solid green;
            }
            .pi-pencil:hover{
                color: white;
                background-color: green;
            }
            
        
    }

    


}